<nav class="navbar navbar-default" bs-navbar>
	<div class="navbar-inner">
		<a class="brand" href="#">Automated Bartender Assistant</a>
		<!--<ul class="navbar btn-group btn-group-justified">
			<li class="active"><button type="button" class="">Home</button></li>
		</ul>-->
		<ul class="nav">
			<li class="active"><a href="" ng-click="myFunc()">Home</a></li>
			<li><a href="" ng-click="myFunc()">Drink Creator</a></li>
		</ul>
		<ul class="nav pull-right">
			<li><a href="" ng-click="mySettings()">Settings</a></li>
		</ul>
	</div>
</nav>
<div class="hero-unit">
	<h1>'Allo, 'Allo!</h1>
	<p>You now have</p>
	<ul>
		<li ng-repeat="thing in awesomeThings">{{thing}}</li>
	</ul>
	<p>installed.<span class="glyphicon glyphicon-cog"></span></p>
	<h4>Enjoy coding! - Yeoman</h4>
</div>
