<div class="container">
	<div class="masthead">
		<h4 class="text-muted">Automated Bartender Assistant</h4>
		<ul class="nav nav-justified">
			<li><a href="#">Home</a></li>
			<li><a href="#/tabs">Tabs</a></li>
			<li><a href="#/inventory">Inventory</a></li>
			<li class="active"><a href="#/settings">Settings</a></li>
		</ul> <!-- navbar-nav -->
	</div> <!-- masthead -->

	<div class="row">
		<div class="col-sm-8" style="background:#eee;">
			<h2 class="text-muted">Lots of Settings!</h2>
		</div> <!-- col-sm-8 -->
		<div class="col-sm-4">
			<h3 class="text-muted">n/a</h3>
		</div> <!-- col-sm-4 -->
	</div> <!-- row -->
</div> <!-- container -->