<div class="row">
	<div class="col-sm-6">
		<div class="row">
			<h2>Bottle Reset Options</h2>
			<h4>Select bay:</h4>
			<div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				Choose a Bay<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role-"menu">
					<li><a href="#">Bay #1</a></li>
					<li><a href="#">Bay #2</a></li>
					<li><a href="#">Bay #3</a></li>
					<li><a href="#">Bay #4</a></li>
					<li><a href="#">Bay #5</a></li>
					<li><a href="#">Bay #6</a></li>
			</div><!-- button-group -->
			<div class="input-group">
				<span class="input-group-addon">Bottle Type</span>
				<input type="text" class="form-control" placeholder="Name">
			</div><!-- input-group -->
			<div class="input-group">
				<span class="input-group-addon">Bottle Size</span>
				<input type="text" class="form-control" placeholder="25">
				<span class="input-group-addon">ounces</span>
			</div><!-- input-group -->
			<div class="input-group">
				<span class="input-group-addon">Fill Level</span>
				<input type="text" class="form-control" placeholder="100">
				<span class="input-group-addon">approx. %</span>
			</div><!-- input-group -->
		</div><!-- row -->
	</div> <!-- col-sm-6 -->
	<div class="col-sm-4 col-sm-offset-1">
		<h2>Rinse System</h2>
		<h6 class="text-muted">Notice: System will be offline for 1 minute.</h6>
		<button type="button" class="btn btn-default">Rinse System</button>
	</div> <!-- col-sm-4 -->
</div> <!-- row -->