<div class="row">
	<div class="col-sm-6">
		<div class="row">
			<h2>Bottle Reset Options</h2>
			<h4>Select bay:</h4>
			<select ng-model="selectedBay" ng-options="bay.type for bay in bayIngredients" ng-click="updateSelectedIng()">
			</select>
			<div class="input-group">
				<span class="input-group-addon">Bottle Type</span>
				<span class="nullable">
					<select ng-model="selectedIngredient" ng-options="ing.type for ing in allIngredients" ng-click="updateSelectedBayIng()">
						<option value="">N/A</option>
					</select>
				</span>
			</div><!-- input-group -->
			<div class="input-group">
				<span class="input-group-addon">Bottle Size</span>
				<input type="text" class="form-control" placeholder="750ml" ng-model="selectedBay.mlVol" />
				<span class="input-group-addon">ml</span>
			</div><!-- input-group -->
			<div class="input-group">
				<span class="input-group-addon">Fill Level</span>
				<input type="text" class="form-control" placeholder="100" ng-model="selectedBay.level" />
				<span class="input-group-addon">approx. %</span>
			</div><!-- input-group -->
		</div><!-- row -->
	</div> <!-- col-sm-6 -->
	<div class="col-sm-4 col-sm-offset-1">
		<h2>Rinse System</h2>
		<h6 class="text-muted">Notice: System will be offline for 1 minute.</h6>
		<button type="button" class="btn btn-default" ng-click="rinseSystem()">Rinse System Now</button>
	</div> <!-- col-sm-4 -->
</div> <!-- row -->